@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap'); 

 *{margin: 0;padding: 0; outline:none; box-sizing: border-box;}
 body{background-color: #ededee;overflow-x: hidden;}
header{ background-color:#2874f0;color:white;width:100vw;padding:0.2vw 0vw 0.2vw 0vw;font-family:Roboto,Arial,sans-serif;}
nav{display: flex;}
.logo{ margin-right: 1.5vw;}
.logo img{width: 6vw;height:2vw;padding:0.7vw 0vw 0vw 0vw}  
.inline{font-style: italic;font-size:0.8vw;font-weight: 500;}
#plus{color:#ffe500;}
#plus-img{ height:1.3vw;width:1.3vw;padding: 0.3vw; margin:auto 0px;vertical-align: middle;}
.search .searchSpan{ margin-right: 4vw;}
 .search input{border-radius:2px; width: 35vw;height: 2.4vw;padding: 0 25px;border: none;vertical-align: middle;}
.search input::placeholder{ font-size: 1vw;} 
.search .searchSpan button{cursor:pointer;color:red;position:relative;border: none;background:none;right:3vw;vertical-align: middle;}
.searchbtn .search-icon{color:#2874f0;font-size:1.3vw;vertical-align: middle;}
.search .btn{ font-size: 1.1vw;border: none;margin-right:0.7vw;font-weight: 600;} 
.search button i{ transition:0.2s;}
.fa-rotate-180{transform: rotate(-180deg);}

/* barsection start */
.BarSection{
  background-color: #fff;
  padding:1vw 7vw 1vw 7vw;
  box-shadow:0px 0.8px 2px rgb(183, 183, 183);
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-evenly;
}
section .bar{
  display: inline-flex;
  text-align: center;
  margin:0 2vw 0 2vw;
}
section .bar img{
  height: 4vw;
  width: 4vw;
  margin-bottom: 0.2vw;
}
section .bar .barPara{
  font-family:Roboto,Arial,sans-serif;
  font-weight: 600;
  font-size: 1vw;
  white-space: nowrap;
}
/* barsection end */
.slider{display:flex;justify-content: center;position: relative;height:21vw;width:100vw;overflow: hidden;}
.slider img{ position:absolute;top:0.6vw;width: 100%;height:20vw;}


.container .offer{background-color: #fff;margin-top: 0.3vw;}
.container .offer img{ width:55vw;height:9vw;position: relative;left:25vw;}

.card{width:97vw;margin:5vh auto;background-color: #fff;}
.card h4{padding:1.3vw 0 0 1.3vw;font-size: 2.4vw;font-family: 'Work Sans', sans-serif;font-weight: 100;letter-spacing: -0.5px;}
.card-item{display:inline-flex;justify-content: center;flex-direction: column;margin:4px 12px 1vw 12px;  font-family:Roboto,Arial,sans-serif;padding:0 0 0.5vw 0;}
.card-item img{width:13vw;min-width:50px;}
.lines{ margin-top: 6px;}
.lines p:nth-of-type(1){font-size:1.5vw;font-family: Roboto,Arial,sans-serif;}
.lines p:nth-of-type(2){color:rgb(30, 159, 30);font-size:1.1vw;padding: 0.2vw;}
.lines p:nth-of-type(3){font-size:1.2vw;color: #79799E;}


.slideImg{
  transition:0.3s;
}
.prev ,.next{
  font-size:2vw;
  padding:2vw 1vw;
  z-index: 20;
  position: absolute;
  border: none;
}
.prev {
  left:0px;
  border-radius: 0px 4px 4px 0px;
}
.next{
  right:10px;
  border-radius: 4px 0px 0px 4px;
}

/* Special Item Design */
.special-card{
  display: flex;
}
.dontMove{position: relative;overflow: hidden;box-sizing: border-box;padding: 0.8vw; }
.special-card .move1,.special-card .move2{
   display: flex;
   flex-direction: row;
   text-align: center;
   justify-content: flex-start;
   position: relative;
   left:0%;
   transition:0.9s;
  }
.container .special-card .default-1 .text{
  padding:2vw ;
  font-size: 2vw;
  text-align: center;
  font-weight: 200;
}
.container .special-card .card-item button{
  width: 8vw;
  margin:0 auto;
  padding:0.7vw;
  border: none;
}
.container .special-card .default-1 img{
  width: 100%;
  height: 100%;
}
.default-1{
  width: 14vw;
}
.special-card .dontMove .prev{
     display: none;
     transform: translate(0%, -200%);   
  }
.special-card .dontMove .next{
     right:-1vw;
     transform: translate(0%, -200%);   
}

footer{
  background-color:#172337;
  padding:2vw;
  font-family: 'Lato', sans-serif;
  color:white;
}

footer .contact{
  justify-content: space-around;
  align-items: flex-start;
}

.contact-item .line{
  line-height: 2;
  font-size: 0.9vw;
}
footer .contact .contact-item p{
  color:#878787;
  padding:0 0 1vw 0;
  font-size: 1.2vw;
}
footer .contact .vl{
  border-left: 1px solid #878787;
  padding-left:2vw;
}

