@media screen and (max-width:530px){

  .slider{ height:28vw;}
  .slider img{height:25vw;}
  footer{height:4vh;}
  footer p {font-size: 1.6vh;}
}
.flex{
display:flex;
justify-content: center;
align-items: center;
}
.flex-down{
  display:flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.mg-0{
  margin-top: 2vw;
}
.btn{
  padding:0.2vw 0.8vw;
  color: white;
background: #2455f4;
border-radius:6px;
border: 2px solid #aabaee;
cursor: pointer;}

.my-2{margin:2.5vw 0;}
.my-1{margin:3px 0px;}
.text-center{text-align: center;}
